@import '../styles/mixins.scss';
@import '../styles/vars.scss';

h2 {
    text-align: center;
    @include montserrat-font-setting(600, 30px, normal); 
}

.container {
    max-width: 1171px;
}
.section-intro {
    padding: 136px 0 160px;
    background: url(../../../public/bg-main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @include display-setting(row, flex-end, center);
}
.intro-info {
    width: 50%;
    align-self: flex-end;
    @include display-setting(column, center, center);
    h3 {
        text-transform: uppercase;
        @include montserrat-font-setting(600, 22px, normal); 
    }
    h1 {
        @include montserrat-font-setting(600, 42px, normal); 
    }
    p {
        text-align: center;
        @include proxi-font-setting(400, 18px, normal);
    }
}
.intro-info-item {
    width: 30%;
    margin-bottom: 24px;
    @include display-setting(row, space-between, center);
    @include montserrat-font-setting(600, 16px, normal); 
    hr {
        width: 20%;
        height: 1px;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.section-links {
    margin-top: 20px;
    @include display-setting(row, space-between, center);
    flex-wrap: wrap;
}
.link-card {
    min-height: 260px;
    padding: 36px;
    margin-right: 31px;
    margin-bottom: 26px;
    flex: 0 1 47%;
    @include display-setting(column, space-between, center);
    a {
        img {
            margin-left: 13px;
        }
        @include montserrat-font-setting(600, 20px, normal); 
    }
    p {
        text-align: center;
        @include proxi-font-setting(400, 16px, normal);
    }
    &.item0 {
        background: linear-gradient(to top left, $peach 50%, rgba($peach, 0.7) 50%);
    }
    &.item1 {
        background: linear-gradient(to top right, $pink 50%, rgba($pink, 0.7) 50%);
    }
    &.item2 {
        background: linear-gradient(to bottom left, $green 50%, rgba($green, 0.7) 50%);
    }
    &.item3 {
        background: linear-gradient(to bottom right, $gray-pink 50%, rgba($gray-pink, 0.7) 50%);
    }
    &.item4 {
        background: linear-gradient(to top left, $sea 50%, rgba($sea, 0.7) 50%);
    }
    &.item5 {
        background: linear-gradient(to top right, $violet 50%, rgba($violet, 0.7) 50%);
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.section-sales {
    margin-top: 94px;
    @include display-setting(column, space-between, center);
}
.sales-cards {
    margin-top: 50px;
    @include display-setting(row, space-between, center);
}
.sale-card {
    position: relative;
    min-height: 380px;
    flex: 0 1 23%;
    border-radius: 5px;
    @include display-setting(column, flex-end, center);
    p {
        padding: 0 20px 30px ;
        text-align: center;
        color: $white;
        @include montserrat-font-setting(400, 16px, normal); 
    }
}
.sale-card-badge {
    position: absolute;
    padding: 4px 20px 4px 10px;
    top: 15px;
    left: 0;
    -webkit-clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
            clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    span {
        color: $white;
        @include montserrat-font-setting(400, 16px, normal); 
    } 
}
.sale-btn {
    width: 12px;
    height: 12px;
    border-radius: 0;
    border: 1px solid $dark-beige;
    background-color: $white;
    &:hover {
        background-color: $accent;
        transition: 0.3s;
    }
    &.active {
        background-color: $accent;
    }
}
.sales-buttons {
    width: 5%;
    margin-top: 37px;
    @include display-setting(row, space-between, center);
    align-self: flex-end;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.section-holidays {
    margin-top: 142px;
    @include display-setting(column, center, center);
    hr {
        margin-top: 78px;
        width: 90%;
        height: 0;
        border: none;
        border-top: 3px dotted $dark-beige;
    }
}
.holidays-macarons {
    margin-top: -30px;
    width: 94%;
    @include display-setting(row, space-between, center);
    img {
        &:first-child {
            transform: scale(-1, 1);
        }
        &:nth-child(5) {
            transform: rotate(25deg);
        }
        &:last-child {
            transform: scale(-1, 1);
        }
    }
}
.holidays-items {
    width: 100%;
    @include display-setting(row, space-between, center);
    
}
.holidays-item {
    position: relative;
    width: 13%;
    @include display-setting(column, center, center);
    span {
        text-align: center;
        @include montserrat-font-setting(600, 14px, normal); 
    }
    &:first-child {
        font-weight: 700;
    }
}
.party-hat {
    position: absolute;
    top: -100px;
    right: 35px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.section-popular-sets {
    margin-top: 108px;
}