$beige: #F7EBE5;
$dark-beige: #E5E5E5;
$accent: #FF4D6D;
$black: #000000;
$white: #fff;

/*links*/
$peach: #FFDBC3;
$pink: #FFC2CC;
$green: #B4EAB3;
$gray-pink: #FDD5CD;
$sea: #A8DCDF;
$violet: #C4C6EC;
